@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.7rem;
	background-color: #121212;
	color: #ffffffd9;
	padding: 20px 15px 30px 15px;
}

::selection {
	background-color: #52bdff70; /*rgba(255, 255, 255, 0.17);*/
	color: white;
}

.hcenter {
	margin: auto;
	max-width: 1000px;
	text-align: center;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 5px 10px 5px 10px;
	font-size: 2rem;
	background-color: #232323;
}

.header {
	float: right;
	display: none; /* Temp */
}

.header.logo {
	float: left;
	display: block; /* Temp */
}

h1 {
	font-size: 3rem;
}

.blog {
	text-align: left;
}

h1.title {
	font-size: 3rem;
	text-align: center;
}

h2.subtitle {
	font-size: 2rem;
	text-align: center;
}

h3.date {
	text-align: right;
	font-size: 1.2rem;
	font-style: italic;
}

.blog p {
	font-size: 1.3rem;
}

.blog img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.blog pre {
	margin: 0;
}

.blog blockquote {
	border-left: 0.5rem solid white;
	padding-left: 1rem;
	margin-left: 0;
	font-size: 1.5rem;
}

.blog blockquote:before,
.blog blockquote:after {
	content: "\0022";
}

.blog cite:before {
	content: " \2015 ";
}

.blog cite {
	font-size: 1rem;
}

code {
	background-color: #ffffff0d;
	border-radius: 7px;
	padding: 3px;
	font-size: 1.3rem;
}

a {
	color: #ffffffd9;
}

a:link {
	text-decoration: none;
}

a:visited.header {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.item {
	display: grid;
	flex: 1 1 0px;
	padding: 10px;
	margin: 20px;
	max-width: 25%;

	transition: all 0.2s;
}

.item:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.item h2 {
	font-size: 2.5rem;
	margin: 0;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: white;
	pointer-events: none;
}

.item-container {
	position: relative;
}

.item img {
	transition: all 0.2s;

	width: 100%;
	height: auto;
	opacity: 0.55;

	/*
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);*/
}

/*.item-img:hover {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
}*/

.social-media {
	font-size: 50px;
	color: white;
	margin: 15px;

	transition: all 0.2s;
}

.twitter:hover {
	color: #55acee;
}

.github:hover {
	color: gray;
}

/* For PCs */
.container {
	display: flex;
}

/* For tablets */
@media only screen and (max-width: 800px) {
	.container {
		display: block;
	}
	.item {
		display: flex;
		padding: 10px;
		margin: auto;
		max-width: 100%;
	}
	/*.item-img {
		width: 70%;
	}*/
	.item-p {
		text-align: left;
		width: 150%;
		margin-left: 20px;
	}
}

/* For phones */
@media only screen and (max-width: 600px) {
	.item {
		display: block;
		margin: auto;
		max-width: 100%;
	}
	.item-p {
		display: contents;
	}
	.item-img {
		width: 100%;
	}
}

/* For 4k displays */
@media only screen and (min-width: 2000px) {
	body {
		font-size: 28px;
	}
	.hcenter {
		max-width: 1500px;
	}
}
