---
layout: default
title: Projects
permalink: /projects/
---

<style>
	.projects-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-column-gap: 16px;
		grid-row-gap: 16px;
	}

	.project-category {
		margin-bottom: 32px;
	}
</style>

<div class="pinned-projects project-category">
	<h1>Pinned</h1>
	<div class="projects-container">
		{% for project in site.projects %} {% if project.pinned %}
		<div class="showcase-item">
			<a href="{{ project.redirect | default: project.url }}">
				<img src="{{ project.image }}" alt="Image for {{ project.title }}" />
				<div class="overlay"></div>
				<h1>{{ project.title }}</h1>
			</a>
			<p>{{ project.description }}</p>
		</div>
		{% endif %} {% endfor %}
	</div>
</div>
<div class="other-projects project-category">
	<h1>Other</h1>
	<div class="projects-container">
		{% for project in site.projects %} {% unless project.pinned %}
		<div class="showcase-item">
			<a href="{{ project.redirect | default: project.url }}">
				<img src="{{ project.image }}" alt="Image for {{ project.title }}" />
				<div class="overlay"></div>
				<h1>{{ project.title }}</h1>
			</a>
			<p>{{ project.description }}</p>
		</div>
		{% endunless %} {% endfor %}
	</div>
</div>
