---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	{%- include head.html -%}
	<link rel="stylesheet" href="/assets/css/gdscript.css" />
	<body>
			{%- include header.html -%}
			<main>
				<article>
					<div class="article-info">
						<h1 class="title">{{ page.title | escape }}</h1>
						<div class="article-metadata">
							<time datetime='{{ page.date | date: "%Y-%m-%d" }}' class="meta-date">{{ page.date | date: "%-d %B %Y" }}</time>
						</div>
					</div>
					{{ content }}
				</article>
			</main>
			{%- include footer.html -%}
	</body>
</html>