---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	{%- include head.html -%}
	<link rel="stylesheet" href="/assets/css/project.css">
	{% if page.custom_colors %}
		<style>
			:root {
				--main-color: {{ page.custom_colors.main }};
				--secondary-color: {{ page.custom_colors.secondary }};
				--text-color: {{ page.custom_colors.text }};
			}
		</style>
	{% endif %}
	
	<body>
		{%- include header.html -%}
		<main>
			<article>
				<h1 class="title">{{ page.title }}</h1>
				{% if page.github %}
					<div class="github-container">
						<a href="{{ page.github }}" class="github-button no-color">View on Github
							<svg
								class="svg-icon"
								viewBox="0 0 16 16"
								alignment-baseline="text-before-edge"
							>
								<use
									xlink:href="{{ '/assets/icons.svg#github' | relative_url }}"
								></use>
							</svg>
						</a>
					</div>
				{% endif %}
				{{content}}
			</article>
		</main>
		{%- include footer.html -%}
	</body>
</html>